.PetList .image {
  position: relative;
  /* overflow: hidden; */
}
.PetList .image .details {
  display: none;
  background: rgb(225,225,225, 0.7);
  width: calc(100% - 30px);
  height: 30%;
  position: absolute;
  bottom: 0;
  color: black;
  padding-top: 1vw ;
  border-bottom-left-radius: 30px !important; 
  border-bottom-right-radius: 30px !important; 
}

.PetList .image .card {
  border-radius: 30px !important;
  overflow: hidden;
}

.PetList .image .card img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.PetList .image:hover .details {
  display: block;
}
