.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.card-img-top {
    height: 25vw;
    object-fit: cover;
    border-radius: 30px !important; 
    /* max-width: 30vw; */
}


.container-details {
background-color: rgb(225,225,225, 0.5);
background-image: url(/images/backgroud-patas.png);
  
}



.imagem {
  position: relative;
}
.capa {
  display: none;
}

.imagem:hover .capa {
  display: block;
}

.capa {
  background: rgb(225,225,225, 0.7);
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  color: black;
  padding-top: 1vw ;
  border-bottom-left-radius: 30px !important; 
  border-bottom-right-radius: 30px !important; 

}